.concert_bg_img {
    background-image: url('./../assets/concerts/concert_bg_img.png');
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 100% 0%;
}

.concert_info {
    min-height: 270px;
}

.rounded_custom {
    border-radius: 1rem;
}

